{
  "presets": ["env", "stage-0"],
  "plugins": [
    "transform-runtime",
    ["transform-es2015-template-literals"],
    ["module-alias", [
      { "src": "./test/helpers/index.js", "expose": "test-helpers" }
    ]]
  ],
  "generatorOpts": {
    "quotes": "double"
  },
  "ignore": [
    "*.json",
    "*.xml",
    "node_modules"
  ]
}
